<div class="chatbox-avatar"></div>
<div id="chatbox" class="js-chatbox chatbox-frame">
    <div class="card">
        <div class="card-header">
            <div class="profile-info">
                <div class="dot"></div>
                Maarten van Rossem
            </div>

            <button type="button" class="btn btn-success btn-sm">
                Boek een reis
            </button>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <img src="./assets/img/profile-male.png" class="profile-pic" alt="Maarten van Rossem">

                    <div class="message">
                        Hallo! Hoe gaat het met je?
                    </div>

                    <div class="message">
                        En waar wil jij op vakantie?
                    </div>

                    <small class="text-muted">3 minuten geleden</small>
                </div>

                <div class="col-sm"></div>
            </div>

            <div class="row">
                <div class="col-sm"></div>

                <div class="col-sm">
                    <img src="./assets/img/profile-male.png" class="profile-pic" alt="Maarten van Rossem">

                    <div class="message">
                        Hey, joh, leuk om van je te horen man!
                    </div>

                    <div class="message">
                        Naar Ibiza natuurlijk! En jij dan?
                    </div>

                    <small class="text-muted">10 seconden geleden</small>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <input type="text" class="form-control" placeholder="Schrijf een bericht...">
        </div>
    </div>
</div>
