@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

a {
    transition: .3s;
}

a:hover {
    text-decoration: none;
}

/* LOGIN SCREEN */

#log-in {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#log-in .container-1 {
    flex: 1;
    background-color: #D81E05;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#log-in .container-1 p {
    padding-top: 20px;
    margin: 0;
    text-align: center;
}

#log-in .form-container {
    height: 30%;
    width: 90%;
    margin: 0 auto;
}

#log-in .container-1 h3 {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}

#log-in .container-1 form {
    width: 50%;
}

#log-in .cta-container {
    width: 200px;
    margin: 0 auto;
}

#log-in .cta {
    border: 1px solid #fff;
    padding: 15px 0;
    width: 200px;
    font-size: 20px;
    color: #fff;
    transition: 0.4s;
    background-color: transparent;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
}

#log-in .cta:hover,
#log-in .cta:focus {
    color: #060608;
    box-shadow: inset 0 0 0 2em #fff;
}


#log-in .container-2 {
    border-radius: 20px;
    background-image: url('../img/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in .container-2 img {
    max-width: 70%;
    max-height: 70%;
}

@media(max-width: 992px) {
    #log-in .container-1 h3 {
        font-size: 4vw;
    }
}

@media(max-width: 768px) {

    #log-in {
        flex-direction: column;
    }

    #log-in .container-1 {
        border-radius: 20px 20px 0px 0px;
    }

    #log-in .container-1 h3 {
        font-size: 6vw;
    }
}

/* PROFILE PAGE */


#profile-page #profile-upper-page {
    flex: 1;
    background-color: #D81E05;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #060608;
}

#profile-page #profile-mid-page {
    color: #000000;
    flex: 1;
    background-color: #fff;
    display: flex;
    font-weight: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page .element1 {
    margin-left: 60px;
}

#profile-page .element2 {
    margin-right: 90px;
}

#profile-page .tag-button {
    margin-left: 30px;
    background-color: #D81E05;
    padding: 25px;
    font-weight: bold;
    border: none;
    color: #fff;
    transition: .3s ;
}

#profile-page #profile-lower-page {
    color: black;
    font-weight: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page .tag-button:hover {
    background-color: #A01F05;
}

#profile-page .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#profile-page .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#profile-page .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#profile-page .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

#profile-page input:checked+.slider {
    background-color: #D81E05;
}

#profile-page input:focus+.slider {
    box-shadow: 0 0 10px #D81E05;
}

#profile-page input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#profile-page .slider.round {
    border-radius: 34px;
}

#profile-page .slider.round:before {
    border-radius: 50%;
}

#profile-page #language-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page #delete-profile {
    color: #A01F05;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
}

#profile-page #show-hide-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page .language-button {
    padding: 0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
}

#profile-page .profile-title {
    display: flex;
}

#profile-page #gear1 {
    font-size: 20px;
    margin-left: 20px;
}

@media(max-width: 992px) {
    
}

@media(max-width: 768px) {

    #profile-page {
        flex-direction: column;
    }
}