@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

a {
    transition: .3s;
}

a:hover {
    text-decoration: none;
}

/* LOGIN SCREEN */

#log-in {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#log-in .container-1 {
    flex: 1;
    background-color: #D81E05;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#log-in .container-1 p {
    padding-top: 20px;
    margin: 0;
    text-align: center;
}

#log-in .form-container {
    height: 30%;
    width: 90%;
    margin: 0 auto;
}

#log-in .container-1 h3 {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}

#log-in .container-1 form {
    width: 50%;  
}

#log-in .cta-container {
    width: 200px;
    margin: 0 auto;
}

#log-in .cta {
    border: 1px solid #fff;
    padding: 15px 0;
    width: 200px;
    font-size: 20px;
    color: #fff;
    transition: 0.4s;
    background-color: transparent;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
}

#log-in .cta:hover,
#log-in .cta:focus {
    color: #060608;
    box-shadow: inset 0 0 0 2em #fff;
}


#log-in .container-2 {
    border-radius: 20px;
    background-image: url('../img/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in .container-2 img {
    max-width: 70%;
    max-height: 70%;
}

@media(max-width: 992px) {
    #log-in .container-1 h3 {
        font-size: 4vw;
    }
}

@media(max-width: 768px) {

    #log-in {
        flex-direction: column;
    }

    #log-in .container-1 {
        border-radius: 20px 20px 0px 0px;
    }

    #log-in .container-1 h3 {
        font-size: 6vw;
    }
}

/* PROFILE PAGE */

#profile-upper-page{
    flex: 1;
    background-color: #D81E05;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #060608;
}

#profile-mid-page{
    color: black;
    border-radius: 20px;
    flex: 1;
    background-color: #fff;
    display: flex;
    font-weight: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.element1{
    margin-left: 60px;
}

.element2{
    margin-right: 90px;
}

.tag-button{
    margin-left: 30px;
    background-color: #D81E05;
    padding: 25px;
    font-weight: bold;
}

#profile-lower-page{
    color: black;
    font-weight: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tag-button:hover {
    background-color: #C01E05;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #D81E05;
  }
  
input:focus + .slider {
    box-shadow: 0 0 10px #D81E05;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #language-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #delete-profile{
      color: darkred;
      background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
  }

  #show-hide-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .language-button{
    margin: 0 20px 0 0px;
    padding: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
  }

  .profile-title{
    display: flex;
  }

  #gear1{
      font-size: 20px;
      margin-left: 20px;
  }
