@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

a {
    transition: .3s;
}

a:hover {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

.text-black {
    color: #000000;
}

.logo {
    height: 80px;
}

.bg-corendon {
    background-color: #d81e05;
}

.chatbox-frame {
    display: none;
    height: calc(100% - 3em);
    max-width: 30em;
    max-height: 36em;
    line-height: 1.25;
    border-radius: 8px 8px 0 8px;
    position: fixed;
    right: 7em;
    bottom: 2em;
    filter: drop-shadow(0 0.25em 1em rgba(0, 0, 0, 0.1));
    transform-origin: right bottom;
    z-index: 999;
}

.chatbox-frame.open {
    display: block;
    -webkit-animation: openingSentenceFast .5s ease-in-out;
    -moz-animation: openingSentenceFast .5s ease-in-out;
    animation: openingSentenceFast .5s ease-in-out;
}

.chatbox-avatar {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-color: #a2a2a2;
    background-image: url(/assets/img/profile-male.png);
    background-repeat: no-repeat;
    background-size: 4em 4em;
    background-position: center center;
    cursor: pointer;
    filter: drop-shadow(0 0.25em 1em rgba(0, 0, 0, 0.1));
    z-index: 999;
}

/* LOGIN SCREEN */

#log-in {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#log-in .container-1 {
    flex: 1;
    background-color: #D81E05;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#log-in .container-1 p {
    padding-top: 20px;
    margin: 0;
    text-align: center;
}

#log-in .container-1 h3 {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}

#log-in .container-1 form {
    width: 50%;
    margin-top: 50px 0;
    white-space: nowrap;
}

#log-in .container-1 form p {
    padding-bottom: 20px;
}

#log-in label {
    margin-top: 20px;
}

#log-in .cta-container {
    width: 200px;
    margin: 0 auto;
}

#log-in .cta {
    border: 1px solid #fff;
    padding: 15px 0;
    width: 200px;
    font-size: 20px;
    color: #fff;
    transition: 0.4s;
    background-color: transparent;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
}

#log-in .cta:hover,
#log-in .cta:focus {
    color: #060608;
    box-shadow: inset 0 0 0 2em #fff;
}


#log-in .container-2 {
    background-image: url('../img/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    background-color: #fff;
}

#log-in .carousel {
    top: 50%;
    transform: translateY(-50%);
}

#log-in .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#log-in .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#log-in .carousel-item {
    width: 100%;
    height: 32em;
}

#log-in .carousel-caption {
    border: 1px solid #000;
    background-color: #fff;
}

#log-in .chatbox-image {
    margin: 0 auto;
}

#log-in .carousel-item img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 992px) {
    #log-in .container-1 h3 {
        font-size: 4vw;
    }
}

@media(max-width: 768px) {

    #log-in {
        flex-direction: column;
    }

    #log-in .container-1 h3 {
        font-size: 6vw;
    }
}

/* PROFILE PAGE */

#profile-page .avatar {
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

#profile-page #profile-upper-page {
    flex: 1;
    background-color: #D81E05;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #060608;
    margin-bottom: 20px;
}

#profile-page #profile-mid-page {
    color: #000000;
    flex: 1;
    background-color: #fff;
    display: flex;
    font-weight: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page .element1 {
    margin-left: 60px;
}

#profile-page .element2 {
    margin-right: 90px;
}

#profile-page .tag-button {
    margin-left: 30px;
    background-color: #D81E05;
    padding: 25px;
    font-weight: bold;
    border: none;
    color: #fff;
    transition: .3s;
}

#profile-page #profile-lower-page {
    color: black;
    font-weight: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page .tag-button:hover {
    background-color: #A01F05;
}

#profile-page .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#profile-page .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#profile-page .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#profile-page .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

#profile-page input:checked+.slider {
    background-color: #D81E05;
}

#profile-page input:focus+.slider {
    box-shadow: 0 0 10px #D81E05;
}

#profile-page input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#profile-page .slider.round {
    border-radius: 34px;
}

#profile-page .slider.round:before {
    border-radius: 50%;
}

#profile-page #language-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page #delete-profile {
    color: #A01F05;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
}

#profile-page #show-hide-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-page .language-button {
    padding: 0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
}

#profile-page .profile-title {
    display: flex;
}

#profile-page #gear1 {
    font-size: 20px;
    margin-left: 20px;
}

.edit-field {
    margin-top: 20px;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {

    #profile-page {
        flex-direction: column;
    }
}

/* Matches */
#matches .card-potential-buddy {
    width: 400px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

/* CHATBOX */

#chatbox .container {
    width: 600px;
    padding-top: 50px;
}

#chatbox .card {
    border: 1px solid #D81E05;
}

#chatbox .card-header {
    color: #FFF;
}

#chatbox .card-header .profile-info {
    padding-top: 4px;
    float: left;
}

#chatbox .card-header button {
    float: right;
}

#chatbox .card-header,
#chatbox .card-footer {
    background-color: #D81E05;
}

#chatbox .card-footer input {
    color: #495057;
}

#chatbox .dot {
    height: 10px;
    width: 10px;

    border-radius: 50%;

    margin-right: 5px;

    background-color: #2ECC40;

    display: inline-block;
}

#chatbox .row:not(:first-of-type) {
    margin-top: 5px;
}

#chatbox .profile-pic {
    height: 40px;
    width: 40px;

    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 50%;
}

#chatbox .message {
    font-size: 15px;

    margin-top: 5px;

    color: #212529;

    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;

    padding: 10px;
}

#chatbox .text-muted {
    margin-left: 11px;
}

/* categories */
#categories .profielfoto img {
    border: 1px solid #000000;
    border-radius: 100%;
    position: relative;
    bottom: 30px;
    right: 20px;
    width: 140px;
    background: #fff;
}

#categories .amount-of-tags {
    background-color: #D81E05;
    margin: 70px 0 0 0;
    display: flex;
    border-radius: 30px 30px 0 0;
    height: 230px;
    position: relative;
}

#categories .name-and-amout-of-tags {
    color: #600A05;
}

#categories .text-profiel {
    position: absolute;
    bottom: 20px;
    left: 40%;
    color: #fff;
}

#categories .scroll-current-tags {
    border-radius: 0 0 30px 30px;
    background-color: #D81E05;
    cursor: pointer;
    height: auto;
    white-space: nowrap;
    color: #fff;
    overflow-x: scroll;
}

#categories .collapsible {
    background-color: #D81E05;
    color: white;
    cursor: pointer;
    padding: 13px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

#categories .active,
.collapsible:hover {
    background-color: #FF0000;
}

#categories .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

#categories .active:after {
    content: "\2212";
}

#categories .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #F1F1F1;
}

#categories .all-categories {
    margin: 0 70px 70px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#categories p {
    color: #000;
    text-align: center;
    padding: 40px 0 0 0;
}

#categories .explanaition-tags {
    color: #74787c;
    font-size: 10px;
    text-align: center;
}

#categories .tag-button {
    border-radius: 20px;
    background-color: #C00A05;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
}

#categories .tag-button:hover {
    background-color: #FF0000;
    animation-name: rotate;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.button {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    font-size: 120px;
    top: -55px;
    right: -50px;
    left: -220px;
    transition: 0.5s;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

@keyframes rotate {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(4deg);}
    100% {transform: rotate(-8deg);}
}

#categories .logo-for-catagories {
    float: left;
    height: 50px;
    width: 50px;
}

#categories .image-hobby {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#categories .image-movies {
    height: 50px;
    width: 20px;
    margin-top: 20px;
}

#categories .image-countries {
    height: 50px;
    width: 45px;
    margin-top: 20px;
}
#categories .image-books {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#categories .image-music {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#categories .image-games {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#categories .image-sports {
    height: 55px;
    width: 50px;
    margin-top: 20px;
}

#categories .image-languages {
    height: 50px;
    width: 45px;
    margin-top: 20px;
}